function toggleStream() {
    const stream = document.getElementById("stream");
    stream.style.display = stream.style.display === "none" ? "block" : "none";
}

function toggleShorts() {
    const shorts = document.getElementById("shorts");
    shorts.style.display = shorts.style.display === "none" ? "block" : "none";
}

// Додавання стилю для анімації fade-in
const fadeInStyle = document.createElement('style');
fadeInStyle.innerHTML = `
.fade-in {
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}`;
document.head.appendChild(fadeInStyle);

// Плавна поява елементів в .container при скролі
window.addEventListener('scroll', function() {
    const elements = document.querySelectorAll('.container > *');
    elements.forEach(element => {
        if (window.scrollY > 100) { // Налаштуй відстань за потреби
            element.classList.add('fade-in');
        } else {
            element.classList.remove('fade-in');
        }
    });
});

// Плавна поява блоку партнерів при завантаженні сторінки
window.addEventListener('load', function() {
    const partnersSection = document.querySelector('.partners-section');
    partnersSection.style.opacity = '1';
    partnersSection.style.transform = 'translateY(0)';
});
